.auth-badge {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  background-color: lightcoral;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: whitesmoke;
  padding: 1rem;
}

.auth-badge.authenticated {
  background-color: lightgreen;
  color: black;
}
